.tabs-menu {
    height: 60px;
    clear: both;
    list-style-type: none;
    margin: 0;
}

.tabs-menu li {
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 15px;
    background-color: #3399ff;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    border-radius: 4px;
}

.tabs-menu li.current {
    position: relative;
    background-color: #3399ff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #ffff6e;
}

.tab {
    border-top: 1px solid #d4d4d1;
    background-color: #fff;
    width: auto;
    clear: both;
}

.tab-content {
    width: 100%;
    padding: 20px;
    display: none;
}

#tab-1 {
    display: block;
}
.dia-chi{
    padding-left: 80px;
    font-size: 16px;
    text-align: left;
}

.noidung{
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .dia-chi{
        padding-left: 10px;
    }
}